@model IEnumerable<ProdutoProntoDigital.Models.Produto>
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Produtos";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="container">
    <div class="d-flex">
        <a asp-action="Create" class="btn btn-success mr-3 mb-3">Novo Produto</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Preço</th>
                <th>Qtd. Estoque</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model)
            {
                <tr id="produto-@produto.PROD_ID">
                    <td>@produto.PROD_NOME</td>
                    <td>@produto.NomeCategoria</td>
                    <td>R$@produto.PROD_PRECO</td>
                    <td>@produto.PROD_QTD</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Produto" asp-route-id="@produto.PROD_ID" class="btn btn-sm btn-warning">Editar</a>
                        <button type="button" class="btn btn-sm btn-danger" onclick="deleteProduto(@produto.PROD_ID)">Deletar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function deleteProduto(prodId) {
            if (confirm('Tem certeza que deseja deletar este produto?')) {
                $.ajax({
                    url: '@Url.Action("Delete", "Produto")',
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                        id: prodId
                    },
                    success: function (result) {
                        if (result.success) {
                            $('#produto-' + prodId).remove();
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Ocorreu um erro ao deletar o produto.');
                    }
                });
            }
        }
    </script>
}
